[submodule "flac"]
	path = flac
	url = https://github.com/xiph/flac
[submodule "freetype"]
	path = freetype
	url = https://github.com/freetype/freetype
[submodule "vorbis"]
	path = vorbis
	url = https://github.com/xiph/vorbis
[submodule "ogg"]
	path = ogg
	url = https://github.com/xiph/ogg
